.handsontable {
  td {
    overflow: visible;
  }

  .select2-editor,
  .select2-content,
  .select2-target {
    min-width: 100%;
  }

  .select2-editor {
    padding: 0;
    margin: 0 -4px;
    overflow: visible;
    position: relative;
    top: 0;
  }

  .select2-content {
    position: absolute;
    left: 0;
  }

  .select2-container {
    z-index: 1;
  }
}
